/* HTML scroll */ 

html {
    scroll-behavior: smooth;
}

/* *** */

/* Barre de navigation */

.navlogo {
    height: 60px;
    width: 60px;
}

/* ************ */

/* Accueil */

.acpad {
    padding-top: 90px;
}

.acfond {
    background-image: url(./images/25101.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.centrer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.acbloc {
    max-width: 500px;
}

.aclogo {
    height: 200px;
    width: 212px;
}

.acimg {
    margin: 10px;
    max-width: 350px;
    max-height: 250px;
}

/* Desktop */

@media (min-width: 768px) {

    .fright {
        float: right;
    }

    .bordures {
        margin-left: 40px;
        margin-right: 40px;
    }

}

/* Mobile */

@media (max-width: 768px) {
    .milieu {
        display: flex;
        justify-content: center;
    }

}


/* *************** */

/* A propos de nous */

.nsimg {
    margin: 40px 0;
    height: 400px;
    background-image: url(./images/table.jpg);
    background-position: left;
}

.nsfond {
    background-color: #E3DCD2;
}


/* **************** */

/* Nos produits */

.titre {
    padding: 20px;
    margin-bottom: 40px;
}

.npimg {
    height: 400px;
}

.npcar {
    height: 400px;
    width: 700px;
    margin-bottom: 80px;
}

.filtre {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px
}

.npcar h5 {
    margin-bottom: 30px;
    font-size: 38px;
    color: yellowgreen;
}

.npcar p {
    margin-bottom: 1px;
    font-size: 32px;
}

.carousel-control-next-icon {
    background-color: black;
    border-radius: 10px
}

.carousel-control-prev-icon {
    background-color: black;
    border-radius: 10px
}


.txt {
    color: #E3DCD2;
}

.npfond {
    background-color: #332F29;
}

.npbloc {
    max-width: 370px;
    height: 120px;
}

.npb {
    color: #E3DCD2;
    background-color: #212529;
    border: 1px solid #212529;
    padding: 6px 18px;
    margin-bottom: 30px;
}

.npb:hover {
    color: #212529;
    background-color: #E3DCD2;
    transition: 0.5s ease-in-out;
}


/* ***************** */

/* Gallerie */

.gaimg {
    width: 100%;
    max-height: 250px;
    padding: 10px;
    margin-bottom: 15px;
}

/* ***************** */

/* Commandez en ligne */

.cobloc {
    max-width: 350px;
}

/* ***************** */


/* Nous contacter */

.gmap {
    padding: 10px;
    width: 100%;
    height: 100%;
}

/* ***************** */

/* Footer */

.ml {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #E3DCD2;
}

a:hover {
    color: rgba(255,255,255,.75);
}

.align {
    text-align: center;
    margin-bottom: 20px;
}

/* ***************** */

/* Texte */

.navbar-dark .navbar-nav .nav-link {
    color: #E3DCD2;
}

h1 {
    font-size: 48px;
    font-family: 'Lobster', cursive;
}


/* ********* */

